@font-face {
    font-family: 'Code Bold Regular';
    src: url('../fonts/CODE Bold_0-webfont.eot');
    src: url('../fonts/CODE Bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CODE Bold_0-webfont.woff2') format('woff2'),
         url('../fonts/CODE Bold_0-webfont.woff') format('woff'),
         url('../fonts/CODE Bold_0-webfont.ttf') format('truetype'),
         url('../fonts/CODE Bold_0-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Code Light Regular';
    src: url('../fonts/CODE Light_0-webfont.eot');
    src: url('../fonts/CODE Light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CODE Light_0-webfont.woff2') format('woff2'),
         url('../fonts/CODE Light_0-webfont.woff') format('woff'),
         url('../fonts/CODE Light_0-webfont.ttf') format('truetype'),
         url('../fonts/CODE Light_0-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Larke Sans Bold Regular';
    src: url('../fonts/Larke Sans Bold_0-webfont.eot');
    src: url('../fonts/Larke Sans Bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Larke Sans Bold_0-webfont.woff2') format('woff2'),
         url('../fonts/Larke Sans Bold_0-webfont.woff') format('woff'),
         url('../fonts/Larke Sans Bold_0-webfont.ttf') format('truetype'),
         url('../fonts/Larke Sans Bold_0-webfont.svg#larke_sans_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Larke Regular';
    src: url('../fonts/Larke Sans Light 2_0-webfont.eot');
    src: url('../fonts/Larke Sans Light 2_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Larke Sans Light 2_0-webfont.woff2') format('woff2'),
         url('../fonts/Larke Sans Light 2_0-webfont.woff') format('woff'),
         url('../fonts/Larke Sans Light 2_0-webfont.ttf') format('truetype'),
         url('../fonts/Larke Sans Light 2_0-webfont.svg#larkeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Agency FB Bold';
    src: url('../fonts/AGENCYB.eot');
    src: url('../fonts/AGENCYB.TTF'),
         url('../fonts/AGENCYB.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agency FB';
    src: url('../fonts/AgencyFB-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AgencyFB-Reg.woff') format('woff'),
         url('../fonts/AgencyFB-Reg.ttf')  format('truetype'),
         url('../fonts/AgencyFB-Reg.svg#AgencyFB-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}