/* === Base === */
.site-wrapper {
  max-width: 930px;
  display: block;
  margin: auto;
}

/* === Struture === */
.nav-welcome {
  width:380px;
  display: block;
  margin:auto;
}

/* === Modules === */