p {
	line-height: 1.12857;

	@media (max-width: $screen-sm) {
		font-size: 18px;
	}
}

.lead {
	font-size: 33px;
	line-height: 1;

	@media (max-width: $screen-sm) {
		font-size: 18px;
	}
}

.lead--alpha, .lead--beta {
	font-size: 42px;
}

.lead--beta {
	@media (max-width: $screen-sm) {
		font-size: 24px;
	}
}

.lead--alpha {


	@media (max-width: $screen-sm) {
		font-size: 34px;
	}
}